version: '3'
services:
  db:
    image:  postgres:11
    ports:
      - "32700:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER:  postgres
      POSTGRES_PASSWORD:  1234512345210Ip
      POSTGRES_DB: —Åonstruction_objects